* {
    box-sizing: border-box;
    /* overflow: auto; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-container {
    display: flex;
}

.container1 {
    flex: 50%;
}

.container2 {
    /* height: 650px; */
    background-color: #eaeaea;
    flex: 50%;
}

.one {
    margin-top: 50px;
}

.two {
    line-height: 0.4;
    margin-top: 50px;
}

.three {
    margin-top: 50px;
}

.button2 {
    background-color: rgba(0, 0, 255, 0.9);
    padding: 10px 40px;
    margin-left: 40%;
}

.four {
    margin-top: 50px;
}

.five {
    margin-top: 50px;
}

.wname span {
    display: block;
}

.row1 th {
    padding-bottom: 50px;
    font-weight: 100;
}

.row2 th {
    padding-bottom: 60px;
}

.row3 td {
    padding-bottom: 20px;
}

.page {
    /* margin-left: 100px; */
    padding-top: 20px;
    /* margin-left: 46px; */
}

.page a {
    padding-left: 40%;
}

.page i {
    margin-left: 40px;
}

@media only screen and (max-width: 800px) {
    .flex-container,
    .container1,
    .container2,
    .field {
        flex-wrap: wrap;
    }
    .button2 {
        margin: 0;
        /* display: block; */
    }
    .five {
        margin: 90px 0px;
    }
    .pagef a {
        padding: 0;
        display: block;
    }
}
